@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border {
  position: relative;
  background: linear-gradient(45deg, #7C8362, #5F664D);
  padding: 2px;
  border-radius: 0.75rem;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: linear-gradient(45deg, #7C8362, #5F664D);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

@layer base {
  :root {
    --background: 43 30% 96%;
    --foreground: 45 8% 11%;
    --card: 43 30% 96%;
    --card-foreground: 45 8% 11%;
    --popover: 43 30% 96%;
    --popover-foreground: 45 8% 11%;
    --primary: 45 8% 11%;
    --primary-foreground: 43 30% 96%;
    --secondary: 45 25% 88%;
    --secondary-foreground: 45 8% 11%;
    --muted: 45 20% 90%;
    --muted-foreground: 78 10% 35%;
    --accent: 73 14% 45%;
    --accent-foreground: 43 30% 96%;
    --destructive: 78 15% 22%;
    --destructive-foreground: 43 30% 96%;
    --border: 45 20% 85%;
    --input: 45 20% 85%;
    --ring: 77 14% 35%;
    --chart-1: 73 14% 45%;
    --chart-2: 77 14% 35%;
    --chart-3: 78 15% 22%;
    --chart-4: 84 12% 55%;
    --chart-5: 45 8% 25%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
